
.swiper-container {
  filter: none; /* Remove any filters */
}
.swiper-slide {
    margin: 0;
    width: 37rem;
    height: 100%;
    position: relative;
  }

/* --------------------------- */
.slide-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #dcdcdc;
    z-index: 1;
    /* height: 60vh; */
    box-shadow: 0px 0px 20px 1px var(--white-blue);
  }
 .dark-mode .slide-card{
  background-color: var(--dbg);
  box-shadow: var(--shadow);
  border: 1px solid #63e0ffec;
 }
  .circle-image img{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    overflow: hidden;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 0px 15px 2px var(--gris);
  }
.dark-mode .circle-image img{
  box-shadow: 0 0 15px 2px #63e0ffec;
}
  
.dark-mode .slide-content h3{
  color: #fff;
  border-bottom: 1px solid var(--dark-for-blue);
}
  .slide-content h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: var(--big);
    font-weight: bold;
    border-bottom: 1px solid var(--blue);
    line-height: 3;
  }
  .dark-mode .slide-content p{
    color: #fdfdfd;
  }
  .slide-content p {
    font-size: 20px;
    line-height: 1.5;
    font-family: var(--small);
  }
  .dark-mode .slide-content .description::first-letter{
    color: var(--dark-for-blue);
  }
  .slide-content .description::first-letter {
    font-size: 50px;
    font-weight: bold;
    line-height: .8;
    padding-left:10px ;
    color: var(--blue);
  }
  .swiper-container2{
    margin: 7% 0;
  }




  /* //----------------------- */
  
  .slider-controler {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .slider-arrow {
    position: relative;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  slider-arrow:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  .slider-arrow .icons_comment{
    text-align: center;
  }
  .dark-mode .slider-arrow .prev,
  .dark-mode .slider-arrow .next {
    background-color: #151d2a;
    color: var(--dark-for-blue);
    border: 1px solid var(--white-blue);
  }
  .slider-arrow .prev {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    left: 0;
    font-size: 6rem;
    font-weight: bold;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue);
  }
  
  .slider-arrow .next {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    right: 0;
    font-size: 6rem;
    font-weight: bold;
    color: var(--blue);
    transition: .2s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue);
  }
  .slider-arrow .prev:hover,
  .slider-arrow .next:hover{
    box-shadow: 0 0 10px 0;
  }
  
  /* //pagination */
  .swiper-pagination {
    position: relative;
    width: 10rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0%;
    margin: 0 5px;
    transition: all 0.3s ease;
    opacity: 1;
    box-shadow: 0 0 1px 0;
    
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--blue);
  }
  .swiper4 .swiper-slide-shadow-left,
  .swiper4 .swiper-slide-shadow-right {
    background-image: linear-gradient(to bottom, #00000087 , #ffffff10) !important;
    opacity:.5;
    top: 15px !important;
    height: 95% !important;
}
  .dark-mode .swiper4 .swiper-slide-shadow-left,
  .dark-mode .swiper4 .swiper-slide-shadow-right {
      background-image: linear-gradient(to bottom, #283750ae , #000000a7) !important;
      opacity:.5;
      top: 15px !important;
      height: 95% !important;
}

 
  @media screen and (max-width: 990px) {
    .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  @media screen and (max-width: 768px) {
    .swiper_container {
      height: 47rem !important;
    }
    .swiper-slide {
      width: 25rem !important;
      /* height: 36rem !important; */
    }
    .swiper-slide img {
      width: 150px !important;
      height: 150px !important;
    }
    .slide-content h3 {
        font-size: 24px;
        margin-bottom: 10px;
        font-family: var(--big);
        font-weight: bold;
        border-bottom: 1px solid var(--blue);
        
      }
      
      
      .slide-content .description::first-letter {
        font-size: 35px !important;
      }
      .swiper-container2{
        margin: 20% 0;
      }
      .slide-card{
        height: 40rem;
      }
      .slide-content p {
        font-size: 21px;
        line-height: 1.5;
        font-family: var(--small);
        position: relative;
      }
      
  }
  @media screen and (max-width: 550px) {
    .slide-content p {
      font-size: 21px;
      line-height: 1.5;
      font-family: var(--small);
      position: relative;
    }
    .slide-content h3{
      font-size: 24px;
    }
    .slider-controler{
      display: none;
    }
    .swiper-slide img {
      width: 150px !important;
      height: 150px !important;
    }
    .slide-card{
      height: 40rem;
    }
  }
  @media screen and (max-width: 450px) {
    .swiper-slide {
      width: 20rem !important;
      
    }
    .slide-card{
      height: 40rem;
    }
    .swiper-container2{
      margin: 25% 0;
    }
  }
  
 
  
 